.container {
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
  }
  
  .search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .search-form input[type="text"] {
    width: 300px;
    font-size: 16px;
    border-radius: 4px;
  }

  .search-form button {
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px 20px;
    background-color: #3d15ee;
    color: white;
    border-radius: 4px;
    border: none;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .photo-card {
      outline: solid 1px grey;
      border-radius: 4px;
      box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.5);
    }

    .photo-card img {
      display: block;
      margin: 0 auto;
      height: 250px;
      width: 350px;
      object-fit: cover;
    }

  .info {
    margin-top: 10px;
    text-align: center;
  }
  
  .info-item {
    margin-bottom: 5px;
  }

  .load-more {
    margin: 20px auto 0 auto;
    display: block;
    border-radius: 4px;
  }

  .hidden {
    display: none;
  }