.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
  }
  
  .search-form {
    display: flex;
    margin-bottom: 20px;
  }
  
  .search-form input[type="text"] {
    font-size: 16px;
    flex-grow: 1;
    padding: 10px;
  }

  .search-form button {
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px 20px;
    background-color: #3d15ee;
    color: white;
    border: none;
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .photo-card {
    border: 1px solid #ddd;
    padding: 10px;
  }

  .info {
    margin-top: 10px;
    text-align: center;
  }
  
  .info-item {
    margin-bottom: 5px;
  }